.header {
    background-color: #32b847;
    height: 60px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header__wrapper {
    margin: 0 auto;
    width: 50%;
    padding-top: 18px;
}

.header__container {
    align-content: center;
    align-items: center;
    color: #f1f4f7;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around; 
}

.header__container__buttons {
    cursor: pointer;
    text-align: center;
}

.is-active {
    border-bottom: 1px solid #f1f4f7;
}

