.feed-list { 
    margin: 0 auto;
    max-width: 720px;
    padding: 12px;
    width: 100%;
}

.feed-list__title {
    color: #32b847;
    margin-bottom: 12px;
}

@media (min-width: 768px) {
    .feed-list { 
        width: 70%;
    }
    
    .feed-list__data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .feed-list__data__item {
        width: 24%;
        height: 280px;
        margin-bottom: 10px;
    }
    
    .feed-list__data__item-0 {
        width: 100%;
    }
}
