<div class="feed-list">
  <h1 class="feed-list__title">Native Article Feed</h1>
  <div class="feed-list__data">
    <ng-container *ngFor="let item of nativeFeed; let i = index">
      <app-native-article
        class="feed-list__data__item feed-list__data__item-{{i}}"
        [index]="i"
        [item]="item">
      </app-native-article>
    </ng-container>
  </div>
</div>
<div class="feed-list">
  <h1 class="feed-list__title">Twitter Feed</h1>
  <div
    *ngFor="let item of twitterFeed">
    <app-tweet
      [item]="item">
    </app-tweet>
  </div>
</div>
<div class="feed-list">
  <h1 class="feed-list__title">Conditional rendering Feed</h1>
  <div class="feed-list__data">
    <ng-container *ngFor="let item of feed; let i = index">
      <app-native-article
        class="feed-list__data__item feed-list__data__item-{{i}}"
        *ngIf="item.content_type === 'native_article'"
        [index]="i"
        [item]="item">
      </app-native-article>
      <app-tweet
        class="feed-list__data__item feed-list__data__item-{{i}}"
        *ngIf="item.content_type === 'twitter'"
        [item]="item"
        [conditional]="true">
      </app-tweet>
    </ng-container>
  </div>
</div>