.card {
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    height: 20vh;
    max-width: 720px;
    margin-bottom: 12px;
}

.card--dark {
    background-color: #141e28;    
    transition: background-color 300ms ease-in-out;
    -webkit-transition: background-color 300ms ease-in-out;
}

.card--dark:hover {
    background-color: #030506;
}

.card--light {
    background-color: #f0f2f5;    
    transition: background-color 300ms ease-in-out;
    -webkit-transition: background-color 300ms ease-in-out;
}

.card--light:hover {
    background-color: #d1d7e1;
}

.card__img {
    border-top-left-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 6px;
    height: 100%;
    min-height: 100%;
    position: relative;
    overflow: hidden;
    width: 40%;
}

.card__img__src {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}

.card--dark:hover .card__img__src {
    transform: scale(1.02);
}

.card__title-area__title {
    color: #f1f4f7;
    overflow: auto;
    word-wrap: break-word;
    height: 100%;
}

.card__title-area {
    display: flex;
    grid-area: text;
    padding: 12px;
    height: 100%
}

@media (min-width: 768px) {

    .card {
        height: 100%;
        flex-direction: column;
        margin-bottom: 0px;
    }

    .card-0 {
        display: flex;
        flex-direction: row;
        width: 100%;    
    }

    .card__img {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 0px;
        height: 30%;
        min-height: 30%;
        width: 100%;
    }

    .card__img-0 {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 6px;
        height: 100%;
    }


    .card__title-area {
        height: 70%
    }

    .card__title-area--0 {
        height: 100%;
    }


}